<% attributes = attributes.select { |attr| attr.display? } %>
<% if attributes.any? %>
  <div id="attribute-method-details" class="section">
    <h3 class="section-header">Attributes</h3>

    <div class="methods">
      <% attributes.each do |attrib| %>
        <div id="<%= attrib.html_name %>-attribute-method" class="method">
          <a name="<%= h attrib.name %>"></a>
          <% if attrib.rw =~ /w/i %>
            <a name="<%= h attrib.name %>="></a>
          <% end %>
          <div class="method-heading attribute-method-heading">
            <span class="method-name"><%= h attrib.name %></span><span
              class="attribute-access-type">[<%= attrib.rw %>]</span>
          </div>

          <div class="method-description">
          <% if attrib.comment %>
            <%= attrib.description.to_s.strip %>
          <% else %>
            <p class="missing-docs">(Not documented)</p>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
