<% attributes = attributes.select { |attr| attr.display? } %>
<% if attributes.any? %>
  <div id="attribute-method-details" class="section">
    <h3 class="section-header">Attributes</h3>

    <div class="methods">
      <% attributes.each do |attrib| %>
        <div id="<%= attrib.html_name %>-attribute-method" class="method">
          <a name="<%= h attrib.aref %>"></a>
          <h4>
            <code><%= h attrib.name %></code>
            <span class="attribute-access-type">[<%= attrib.rw %>]</span>
            <span>
              <a href="#<%= h attrib.aref %>">&para;</a>
              <a href="#top">&uarr;</a>
            </span>
          </h4>

          <div class="method-description">
          <% if attrib.comment %>
            <%= attrib.description.to_s.strip %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
