<% current.methods_by_type(section).each do |type, visibilities|
   next if visibilities.empty?
   visibilities.each do |visibility, methods|
    next unless visibility == :public
    next if methods.empty? %>
    <div id="<%= visibility %>-<%= type %>-methods" class="section">
      <h3 class="section-header"><%= visibility.to_s.capitalize %> <%= type.capitalize %> Methods</h3>

      <div class="methods">
        <% methods.each do |method| %>
          <%= render_partial "method.html.erb", method: method %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
