<div class="section-links">
  <% if current.type == 'class' %>
    <div>
      Parent:
      <% if current.superclass and not String === current.superclass %>
        <a href="<%= current.aref_to current.superclass.path %>"><%= current.superclass.full_name %></a>
      <% else %>
        <%= current.superclass %>
      <% end %>
    </div>
  <% end %>

  <% if current.includes.any? %>
    <div>
      Included Modules:
      <% current.each_include do |inc| %>
        <% unless String === inc.module %>
          <a href="<%= current.aref_to inc.module.path %>"><%= inc.module.full_name %></a>
        <% else %>
          <%= inc.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% current.each_section do |section, constants, attributes| %>
    <% attributes = attributes.select { |attr| attr.display? } %>
    <% if attributes.any? %>
      <div>
        Attributes:

        <% attributes.each do |attrib| %>
          <a href="#<%= attrib.html_name %>-attribute-method"><%= h attrib.name %></a>
        <% end %>
      </div>
    <% end %>

    <% current.methods_by_type(section).each do |type, visibilities|
       next if visibilities.empty?
       visibilities.each do |visibility, methods|
        next unless visibility == :public
        next if methods.empty? %>
        <div>
          <%= visibility.to_s.capitalize %> <%= type.capitalize %> Methods:

          <% methods.each do |method| %>
            <a href="#<%= method.html_name %>-method"><%= h method.name %></a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
