<ul>
  <li class="toctree-l1"><a class="reference internal" href="<%= l "index.html" %>">Overview</a></li>
</ul>

<ul>
<%
side_config["classes"].each do |side|
  klass = store.all_classes_and_modules.find { |k| k.full_name == side["full_name"] }
  if klass
%>
    <li class="toctree-l1" style="padding-left: <%= side["indent"].to_i * 2 %>em;">
      <a class="reference internal" href="<%= l klass.path %>">
        <%= side["name"] %>
      </a>
    </li>
<%
  end
end
%>
  <li class="toctree-l1"><a class="reference internal" href="<%= l "reference.html" %>">API Reference</a></li>
<%
side_config["pages"].each do |side|
  page = store.all_files.select(&:text?).find { |p| p.full_name == side["full_name"] }
  if page && side["ignore"] != true
%>
  <li class="toctree-l1"><a class="reference internal" href="<%= l page.full_name %>"><%= side["name"] %></a></li>
<%
  end
end
# Now for the files that aren't in the config
other_pages = store.all_files.select(&:text?).reject do |page|
  side_config["pages"].find { |s| s["full_name"] == page.full_name }
end.each do |page|
%>
  <li class="toctree-l1"><a class="reference internal" href="<%= l page.full_name %>"><%= page.full_name %></a></li>
<%
end
%>
</ul>

<ul class="external-links">
  <li>
    <a href="https://github.com/GoogleCloudPlatform/gcloud-ruby" title="Github repository">
      <img src="/gcloud-ruby/img/icon-link-github.svg" alt="Github icon">
      Github
    </a>
  </li>
  <li>
    <a href="https://github.com/GoogleCloudPlatform/gcloud-ruby/issues" title="Issues on Github">
      <img src="/gcloud-ruby/img/icon-link-github.svg" alt="Github icon">
      Issues
    </a>
  </li>
  <li>
    <a href="http://stackoverflow.com/questions/tagged/gcloud-ruby" title="gcloud on StackOverflow">
      <img src="/gcloud-ruby/img/icon-link-stackoverflow.svg" alt="StackOverflow icon">
      StackOverflow
    </a>
  </li>
  <li>
    <a href="http://rubygems.org/gems/gcloud" title="RubyGems" class="ext-link">
       <img src="/gcloud-ruby/img/icon-link-package-manager.svg" alt="Package Manager icon">
      RubyGems
    </a>
  </li>
</ul>
