<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title><%= current.full_name %> &mdash; Gcloud Documentation</title>
    <%= render_partial "meta.html.erb" %>
  </head>

  <body class="lang-page">
    <%= render_partial "header.html.erb" %>

    <article class="main lang-page" role="main">

      <header class="docs-header">
        <h1 class="page-title"><%= current.full_name %></h1>
        <%= render_partial "buttons.html.erb" %>
      </header>

      <section class="content">

        <div id="description" class="description">
          <%= current.description %>
        </div>

        <%= render_partial "section_links.html.erb" %>

        <% current.each_section do |section, constants, attributes| %>
          <%= render_partial "section.html.erb", section: section, constants: constants, attributes: attributes %>
        <% end %>
      </section>

      <nav class="side-nav">
        <%= render_partial "side.html.erb" %>
      </nav>

    </article>

    <%= render_partial "footer.html.erb" %>

  </body>
</html>
