<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>Gcloud API Reference</title>
    <%= render_partial "meta.html.erb" %>
  </head>

  <body class="lang-page">
    <%= render_partial "header.html.erb" %>

    <article class="main lang-page" role="main">

      <header class="docs-header">
        <h1 class="page-title">Gcloud API Reference</h1>
      </header>

      <section class="content">
        <h2>All Gcloud Classes and Modules</h2>
        <ul>
          <% store.all_classes_and_modules.sort.each do |klass| %>
            <li>
              <p><a class="reference internal" href="<%= l klass.path %>">
                <%= klass.full_name %>
              </a>
              <a href="<%= l klass.path %>" onclick="$('#details-<%= klass.full_name.gsub("::", "_") %>').toggle(); return false;">(methods)</a></p>
              <div id="details-<%= klass.full_name.gsub("::", "_") %>" style="display: none">
                <% klass.each_section do |section, constants, attributes| %>
                  <% klass.methods_by_type(section).each do |type, visibilities|
                     next if visibilities.empty?
                     visibilities.each do |visibility, methods|
                      next unless visibility == :public
                      next if methods.empty? %>
                      <ul>
                        <li class="toctree-l1">
                          <a class="reference internal" href="<%= l klass.path %>#<%= visibility %>-<%= type %>-methods"><%= visibility.to_s.capitalize %> <%= type.capitalize %> Methods</a>
                        </li>
                        <% methods.each do |method| %>
                          <li class="toctree-l1" style="padding-left: 1em;">
                            <a class="reference internal" href="<%= l klass.path %>#<%= method.aref %>"><%= method.singleton ? '::' : '#' %><%= method.name %></a>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </section>

      <nav class="side-nav">
        <%= render_partial "side.html.erb" %>
      </nav>

    </article>

    <%= render_partial "footer.html.erb" %>

  </body>
</html>
