<div id="<%= method.html_name %>-method" class="method <%= method.is_alias_for ? "alias" : "" %>">
  <a name="<%= h method.aref %>"></a>

  <% if method.call_seq %>
    <% method.call_seq.strip.split("\n").each_with_index do |call_seq, _| %>
      <h4><code><%= call_seq.strip.gsub(/->/, '&rarr;').gsub( /^\w+\./m, '') %></code></h4>
    <% end %>
  <% else %>
    <h4><code><%= h method.name %><%= method.params %></code></h4>
  <% end %>

  <div class="method-description">
    <% if method.comment %>
      <%= method.description.strip %>
    <% end %>

    <% if method.token_stream %>
      <!-- <div class="method-source-code" id="<%= method.html_name %>-source">
<pre class="ruby"><%= method.markup_code %></pre>
      </div> -->
    <% end %>
  </div>

  <% unless method.aliases.empty? %>
    <div class="aliases">
      Also aliased as: <%= method.aliases.map do |aka|
        if aka.parent then # HACK lib/rexml/encodings
          %{<a href="#{current.aref_to aka.path}">#{h aka.name}</a>}
        else
          h aka.name
        end
      end.join ", " %>
    </div>
  <% end %>

  <% if method.is_alias_for %>
    <div class="aliases">
      Alias for: <a href="<%= current.aref_to method.is_alias_for.path %>"><%= h method.is_alias_for.name %></a>
    </div>
  <% end %>
</div>
