---
layout: yard_main
title: "<%= @page_title %><% if options.title && @page_title != options.title %> - <%= options.title %><% end %>"
css: <% stylesheets.each do |stylesheet| %>
  - /docs/<%= stylesheet %><% end %>
  - /css/docs.css
js: <% javascripts.each do |javascript| %>
  - /docs/<%= javascript %><% end %>
  - /js/docs.js
---
<%= erb :script_setup %>

<div class="nav_wrap">
  <iframe id="nav" src="<%= @nav_url %>?1"></iframe>
  <div id="resizer"></div>
</div>

<div id="main" tabindex="-1">
  <div id="header">
    <%= erb(:breadcrumb) %>
    <%= erb(:search) %>
    <div class="clear"></div>
  </div>

  <div id="content"><%= yieldall %></div>

  <%= erb(:footer) %>
</div>














<!--
<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>
  <body>
    <div id="google-cloud-header"></div>

    <div class="nav_wrap">
      <iframe id="nav" src="<%= @nav_url %>?1"></iframe>
      <div id="resizer"></div>
    </div>

    <div id="main" tabindex="-1">
      <div id="header">
        <%= erb(:breadcrumb) %>
        <%= erb(:search) %>
        <div class="clear"></div>
      </div>

      <div id="content"><%= yieldall %></div>

      <%= erb(:footer) %>
    </div>
  </body>
</html>
-->
