---
layout: yard_main
title: "<%= @page_title %><% if options.title && @page_title != options.title %> - <%= options.title %><% end %>"
css: <% stylesheets.each do |stylesheet| %>
  - /docs/<%= stylesheet %><% end %>
  - /css/yard-main.css
js: <% javascripts.each do |javascript| %>
  - /docs/<%= javascript %><% end %>
  - /js/yard-main.js
---
<%= erb :script_setup %>

<iframe id="nav" src="<%= @nav_url %>?1"></iframe>
<div id="resizer"></div>

<div id="main" tabindex="-1">
  <div id="header">
    <%= erb(:breadcrumb) %>
    <%= erb(:search) %>
    <div class="clear"></div>
  </div>

  <div id="content"><%= yieldall %></div>

  <%= erb(:footer) %>
</div>
